@model IEnumerable<WebAppColegio.Models.Response.ForoResponse>
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@using  WebAppColegio.Models.Response
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" media="all" href="~/estilos/foro-framework.css">
<link rel="stylesheet" media="all" href="~/estilos/framework_responsive.css">
<link rel="stylesheet" media="all" href="~/estilos/forums.css">
<link rel="stylesheet" media="all" href="~/estilos/forums_responsive.css">
@{
    var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
    var tamanioData = Model.Count();
    var nombreCurso = ViewBag.nombreCurso;
    var brs = "";
}
<div id="ipsLayout_contentArea">
    <div id="ipsLayout_contentWrapper">
        <div id="ipsLayout_mainArea">
            <a id="elContent"></a>

            <section>
                <ol class="ipsList_reset cForumList" data-controller="core.global.core.table, forums.front.forum.forumList" data-baseurl="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-12">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item "><a href="~/Curso/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Curso</li>
                            <li class="breadcrumb-item active" aria-current="page">Foro</li>
                        </ol>
                    </div>
                    @{
                        if (usuario.perfil.Equals("Docente"))
                        {
                            <li>
                                <div class="row">
                                    <div class="col-sm-6 col-md-2 ml-auto">
                                        <div id="dataTableHover_filter" class="dataTables_filter">
                                           <button type="button" id="modalNuevoForo" class="btn-info mb-2 btn-sm pull-right show" style="padding-right: 17px; display: block;" data-toggle="modal" data-target="#exampleModalCenter" aria-modal="true">Crear foro</button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </li>
                        }
                    }

                    <li data-categoryid="13" class="cForumRow ipsBox ipsSpacer_bottom">
                        <h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
                            <a href="#" class="ipsPos_right ipsJS_show ipsType_noUnderline" data-action="toggleCategory" data-ipstooltip="" title="Minimizar categoría"></a>
                            <a href="/Curso/Index">@nombreCurso: FORO DEL CURSO</a>
                        </h2>
                        @foreach (var item in Model)
                        {
                            var color = item.respondio ? "background:#598f5b;" : "background:#b63f3f;";
                            var title = item.respondio ? "Resuelto" : "Por-resolver";
                            <ol class="ipsDataList ipsDataList_large ipsDataList_zebra ipsAreaBackground_reset" data-role="forums">
                                <li class="cForumRow ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix" data-forumid="33">
                                    <div class="ipsDataItem_icon ipsDataItem_category">
                                        <span class="ipsItemStatus ipsItemStatus_large cForumIcon_normal ipsItemStatus_read" style=@color>
                                            <i class="far fa-comments" title=@title></i>
                                        </span>
                                    </div>
                                    @{var hrefDetalle = "/Foro/Detalle?codigoForo=" + @item.codigo;}
                                    <div class="ipsDataItem_main">
                                        <h4 class="ipsDataItem_title ipsType_large ipsType_break">
                                            <a href=@hrefDetalle>@item.tema</a>
                                        </h4>
                                        <ul class="ipsDataItem_subList ipsList_inline">
                                            <li class="">
                                                <a href=@hrefDetalle>Ver detalle</a>
                                            </li>
                                        </ul>
                                        <div class="ipsType_richText ipsDataItem_meta ipsContained">
                                            <p>
                                                Por favor responder a la brevedad
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ipsDataItem_stats ipsDataItem_statsLarge">
                                        <dl>
                                            <dt class="ipsDataItem_stats_number">@item.cantidadRespuestas</dt>
                                            <dd class="ipsDataItem_stats_type ipsType_light"> respuestas</dd>
                                        </dl>
                                    </div>
                                    <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto">
                                        <li>
                                            <a href="#" class="ipsUserPhoto ipsUserPhoto_tiny">

                                                @{
                                                    if (usuario.persona.sexo == 'M')
                                                    {
                                                        <img class="img-profile rounded-circle" src="/masterpage/img/man.png" alt=@usuario.persona.nombres>
                                                    }
                                                    else
                                                    {
                                                        <img class="img-profile rounded-circle" src="/masterpage/img/girl.png" style="max-width: 60px">
                                                    }
                                                }
                                            </a>
                                        </li>
                                        <li class="ipsType_blendLinks">
                                            Autor: @item.creador
                                        </li>
                                        <li class="ipsType_light"> <time datetime=@item.fechaCreacion title=@item.fechaCreacion data-short=@item.fechaCreacion>@item.fechaCreacion</time></li>
                                    </ul>
                                    @*{<span class="fas fa-edit" data-toggle="modal" id="modalEditForo" 
                                           data-id="@item.codigo"  data-target="#exampleModalCenter"></span>}*@
                                </li>
                            </ol>

                        }
                    </li>
                </ol>

            </section>
            @switch (tamanioData)
            {
                case 0:
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    break;
                case 1:
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    break;
                case 2:
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    break;
                case 3:
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    break;
                case 4:
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    break;
                case 5:
                    <br><br><br><br><br><br><br><br><br><br>
                    break;
                case 6:
                    <br><br><br><br><br>
                    break;
                default:
                    brs = "";
                    break;
            }

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0da8ee; border-color: #0da8ee; ">
                <h5 class="modal-title  col-11 text-center" id="modalCenterTitleCustom" style="color:#0a0a0a;">Foro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" class="form-horizontal" asp-controller="Foro" asp-action="Create">
                <div class="modal-body">
                    <div class="modal-body">

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label" style="color:#0a0a0a;">Tema</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="tema" name="tema" style="color:#0a0a0a;" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea class="form-control ckeditor" id="inputForo" name="inputForo" rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ipsDebug = false;

    var CKEDITOR_BASEPATH = '';

    var ipsSettings = {


        cookie_path: "/",

        cookie_prefix: "ips4_",


        cookie_ssl: true,

        upload_imgURL: "",
        message_imgURL: "",
        notification_imgURL: "",
        baseURL: "",
        jsURL: "",
        csrfKey: "c74743f105ce6257930692c52bfc5c13",
        antiCache: "b2f8b39af1",
        disableNotificationSounds: false,
        useCompiledFiles: true,
        links_external: true,
        memberID: 0,
        lazyLoadEnabled: false,
        blankImg: "",
        analyticsProvider: "custom",
        viewProfiles: true,
        mapProvider: 'none',
        mapApiKey: '',

    };
</script>
<script>
    $(document).on("click", "#modalNuevoForo", function () {
        CKEDITOR.instances.contenido.setData('');
        $("#titulo").val('');
        $("#contenido").val('');
        $("#modalCenterTitleCustom").text("Nuevo Foro");

    });
    $(document).on("click", "#modalEditForo", function () {
        var data = $(this).data('id');
        var titulo = $(this).data('titulo');
        var contenido = $(this).data('contenido');
        var fechaFin = $(this).data('fechafindata');
        var fechaInicio = $(this).data('fechainidata');
        var imagen = $(this).data('imagen');
        var imagenuri = $(this).data('imguri');
        CKEDITOR.instances.contenido.setData(contenido);
        $("#codigoAviso").val(data);
        $("#titulo").val(titulo);
        $("#contenido").val(contenido);
        $("#modalCenterTitleCustom").text("Editar foro");

    });
    $(document).ready(function () {
        toastr.info('Carga de datos exitoso');
    });
</script>
<script type="text/javascript" src="~/estilos/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/estilos/js/root_library.js" data-ips=""></script>
<script type="text/javascript" src="~/estilos/js/root_framework.js" data-ips=""></script>
<script type="text/javascript" src="~/estilos/js/root_front.js" data-ips=""></script>
<script type="text/javascript" src="~/estilos/js/front_front_forum.js" data-ips=""></script>
