@using  WebAppColegio.Models.Response
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>IE 6069 - Pachachutec</title>
    <link href="~/masterpage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/masterpage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/masterpage/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                        <div class="sidebar-brand-icon">
                            <img src="/masterpage/img/logo/logocole.png" style="height:75px; width:65px;">
                        </div>
                        <div class="sidebar-brand-text mx-3"></div>
                    </a>
                    <ul class="navbar-nav ml-auto"> 
                       
                        @*<div class="topbar-divider d-none d-sm-block"></div>*@
                        @{
                            var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
                        }


                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @{
                                    if (usuario.persona.sexo == 'M')
                                    {
                                        <img class="img-profile rounded-circle" src="/masterpage/img/man.png" style="max-width: 60px">
                                    }
                                    else
                                    {
                                        <img class="img-profile rounded-circle" src="/masterpage/img/girl.png" style="max-width: 60px">
                                    }
                                }

                                <span class="ml-2 d-none d-lg-inline text-white small">@usuario.persona.nombres</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @*<a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>*@
                                @{
                                    foreach (TipoAcceso acceso in usuario.permisos)
                                    {
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                            @acceso.acceso
                                        </a>
                                    }
                                }

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="bg-info text-white text-left text-lg-start">
                <!-- Grid container -->
                <div class="container p-4">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6 footer-column">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <span class="footer-title ">CONTACTANOS</span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link"><i class="fas fa-city"></i>&nbsp;&nbsp;Nivel: Secundaria</span>
                                </li>  
                                <li class="nav-item">
                                    <span class="nav-link" href="#"><i class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Lima, Villa El Salvador, Urbana Av. &nbsp;Las Américas s/n Sector 3</span>
                                </li>

                            </ul>

                        </div>
                        <div class="col-md-6 footer-column">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <span class="footer-title "></span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link" href="#"><i class=""></i></span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link" href="#"><i class="fas fa-phone"></i>&nbsp;Central Telefónica:&nbsp;012870952</span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link" href="#"><i class="fas fa-envelope"></i>&nbsp;Correo:&nbsp;Pachacutec6069.Villaelsalvador@gmail.com</span>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                    Institución Educativa 6069 Pachacútec -Villa el Salvador - Todos los derechos reservados
                    <a class="text-white" href=""></a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/masterpage/vendor/jquery/jquery.min.js"></script>
    <script src="~/masterpage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/masterpage/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/masterpage/js/ruang-admin.min.js"></script>
    <script src="~/masterpage/vendor/chart.js/Chart.min.js"></script>
    <script src="~/masterpage/js/demo/chart-area-demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebAppColegio</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAppColegio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@


