@using  WebAppColegio.Models.Response
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json;
@using System.Web;
@using System.IO;
@using Microsoft.AspNetCore.Http;
@model IEnumerable<WebAppColegio.Models.Response.NotasResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
    DateTimeFormatInfo dtfi = new CultureInfo("es-ES", false).DateTimeFormat;
    @*@System.Threading.Thread.CurrentThread.CurrentUICulture.DateTimeFormat.GetDayName(DateTime.Parse(item.fechaInicio).DayOfWeek)*@
}


<input hidden="hidden" value="@usuario.perfil" id="perfilUsuario" />
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-12">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Curso/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cursos</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-2">

        </div>

        <div class="col-sm-6 col-md-2">
            <div id="dataTableHover_filter" class="dataTables_filter">

                @{
                    if (usuario.perfil.Equals("Docente"))
                    {
                        <select class="form-control form-control-sm" name="gradoID" id="gradoID">
                            @foreach (var it in (SelectList)ViewBag.ListaGrados)
                            {
                                <option value="@it.Value">@it.Text </option>
                            }
                        </select>
                    }
                }
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div id="dataTableHover_filter" class="dataTables_filter">
                @{
                    if (usuario.perfil.Equals("Docente"))
                    {
                        <select class="form-control form-control-sm" name="seccionID" id="seccionID">
                            @foreach (var it in (SelectList)ViewBag.ListaSeccion)
                            {
                                <option value="@it.Value">@it.Text </option>
                            }
                        </select>
                    }
                }
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div id="dataTableHover_filter" class="dataTables_filter">
                @{
                    if (usuario.perfil.Equals("Docente"))
                    {
                        <select class="form-control form-control-sm" name="claseSelect" id="claseSelect">
                        </select>
                    }
                }

            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div id="dataTableHover_filter" class="dataTables_filter"><label><input type="number" id="inpPeriodo" name="ipnPeriodo" class="form-control form-control-sm" placeholder="Ingresar periodo" aria-controls="dataTableHover"></label></div>
        </div><div class="col-sm-6 col-md-2">
            <div id="dataTableHover_filter" class="dataTables_filter">
                @{
                    if (usuario.perfil.Equals("Docente"))
                    {
                        <button id="buscarNotasDocente" class="btn btn-info form-control form-control-sm" style="height: 31px ">Buscar Notas</button>
                    }
                    else
                    {
                        <button id="buscarNotas" class="btn btn-info form-control form-control-sm" style="height: 31px ">Buscar Notas</button>
                    }
                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="tblNotasDocente">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:130px"></th>
                            <th style="width:30px; text-align: center;" colspan="3">Tareas</th>
                            <th style="width:30px; text-align: center;" colspan="3">Prácticas</th>
                            <th style="width:30px; text-align: center;" colspan="3">Exámenes </th>
                            <th style="width:30px; text-align: center;" colspan="3">Calificaciones de promedios por bimestre/trimestre/semestre</th>
                            <th style="width:30px; text-align: center;" colspan="1" rowspan="2">Nivel de logro alcanzado al finalizar el periodo lectivo</th>
                            <th style="width:30px; text-align: center;" colspan="1" rowspan="2"></th>
                        </tr>
                        <tr>
                            @if (usuario.perfil.Equals("Docente"))
                            {
                                <th style="width:130px">Alumnos </th>
                            }
                            else
                            {
                                <th style="width:130px">Curso</th>  
                            }
                            <th style="width: 10px">T1</th>
                            <th style="width: 10px">T2</th>
                            <th style="width: 10px">T3</th>
                            <th style="width: 10px">P1</th>
                            <th style="width: 10px">P2</th>
                            <th style="width: 10px">P3</th>
                            <th style="width: 10px">E1</th>
                            <th style="width: 10px">E2</th>
                            <th style="width: 10px">E3</th>
                            <th style="width: 10px">PF1</th>
                            <th style="width: 10px">PF2</th>
                            <th style="width: 10px">PF3</th>
                        </tr>
                    </thead>
                    <tbody id="datosCalificaciones">
                    </tbody>
                    <tbody id="datosCalificacionesDocente">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @{
        if (usuario.perfil.Equals("Docente"))
        {
            <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="button" disabled="true" id="registrarNotasDocente" class="btn btn-info form-control form-control-sm" style="" data-toggle="modal" data-target="#exampleModalCenter">Registrar</button>
                </div>
            </div>
        }
    }

</div>




<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>Procesando su información <br><br><small>Por favor espere... </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("body").on("click", "#registrarNotasDocente", function () {
        var notasRequest = new Array();
        $("#loadMe").modal({
            backdrop: "static", //remove ability to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });

        $("#datosCalificacionesDocente tr").each(function () {
            var row = $(this);
            var nota = {};
            nota.nota = row.find("td").eq(1).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(1).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(2).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(1).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(3).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(1).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(4).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(4).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(5).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(4).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(6).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(4).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};


            nota.nota = row.find("td").eq(7).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(7).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};


            nota.nota = row.find("td").eq(8).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(7).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();
            notasRequest.push(nota);
            nota = {};

            nota.nota = row.find("td").eq(9).find('input').eq(0).val();
            nota.tipo = row.find("td").eq(7).find('input').eq(1).val();
            nota.clase = row.find("td").eq(14).find('input').eq(0).val();

            notasRequest.push(nota);
            nota = {};

        });
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Calificaciones/Registrar",
            data: JSON.stringify(notasRequest),
            contentType: "application/json; charset=utf-8",
            processdata: true,  //True or False
            traditional: true,
            dataType: "json",
            success: function (r) {
                $("#loadMe").modal("hide");
                toastr.success('Registro exitoso')
            }, error: function (error) {
                toastr.error('Registro fallido')
            }
        });
    });
</script>
<script>

    $(document).ready(function () {
        var perfil = $('#perfilUsuario').val();
        if (perfil != "Docente") {
            datosNotas();
        } else {
            getListCurso();
            datosNotasDocente();
        }
    });
    $("#buscarNotas").click(function () {
        datosNotas();
    });
    $("#buscarNotasDocente").click(function () {
        datosNotasDocente();
    });

    var datosNotas = function (inicio, fin) {
        var periodo = $('#inpPeriodo').val() == null || $('#inpPeriodo').val() == "" ? new Date().getFullYear() : $('#inpPeriodo').val();
         $.ajax({
             url: '@Url.Action("listarNotas", "Calificaciones")?_periodo=' + periodo,
                type: 'POST',
                contentType: "application/json",
                data: { _perido: periodo },
                success: function (partialView) {
                    $('#datosCalificaciones').html(partialView);
                    $('#datosCalificaciones').show();
             },
             error: function (error) {
                alert('error; ' + eval(error));
}
            });
    }
    var datosNotasDocente = function (inicio, fin) {
        var periodo = $('#inpPeriodo').val() == null || $('#inpPeriodo').val() == ""? new Date().getFullYear() : $('#inpPeriodo').val() ;
        var clase = document.getElementById("claseSelect") == null ? "Todos" : document.getElementById("claseSelect").value;

        if (clase != "") {
            $.ajax({
                url: '@Url.Action("listarNotas", "Calificaciones")?_periodo=' + periodo + "&_clase=" + clase,
                type: 'POST',
                contentType: "application/json",
                data: { _perido: periodo },
                success: function (partialView) {
                    $('#datosCalificacionesDocente').html(partialView);
                    $('#datosCalificacionesDocente').show();
                    $('#registrarNotasDocente').attr('disabled', false);
                },
                error: function (error) {
                    alert('error; ' + eval(error));
                }
            });
        } else {

            $('#datosCalificacionesDocente').html("<tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr > <tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
   " <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr><tr>"+
    "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
     "</tr><tr>"+
      "   <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
     "</tr><tr>"+
      "   <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
     "</tr><tr>"+
       " <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
     "</tr><tr>"+
      "   <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>"+
    " </tr>");
            $('#datosCalificacionesDocente').show();
        }
    }

    $("#gradoID").change(function () {
        getListCurso();
    })
    $("#seccionID").change(function () {
        getListCurso();
    })

    var getListCurso = function (inicio, fin) {
        var grado = document.getElementById("gradoID") == null ? "Todos" : document.getElementById("gradoID").value;
        if (inicio == "0") {
            grado = inicio
        }
        var seccion = document.getElementById("seccionID") == null ? "Todos" : document.getElementById("seccionID").value;


        $.getJSON('@Url.Action("ListarCursos", "Calificaciones")', { _grado: grado, _seccion: seccion },
            function (data) {
                var opciones = '';
                $.each(data, function (i, item) {
                    opciones += '<option value="' + item.clase + '">' + item.nombre + '</option>'
                });
                $("#claseSelect").html(opciones);
            });


    }



</script>
