@using  WebAppColegio.Models.Response
@using System.Globalization;
@model IEnumerable<WebAppColegio.Models.Response.NotasResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    CultureInfo culture = new CultureInfo("en-US");
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-12">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Curso/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cursos</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:130px"></th>
                            <th style="width:30px; text-align: center;" colspan="3">Tareas</th>
                            <th style="width:30px; text-align: center;" colspan="3">Practicas</th>
                            <th style="width:30px; text-align: center;" colspan="3">Examenes</th>
                            <th style="width:30px; text-align: center;" colspan="3">Calificaciones de promedios por bimestre/trimestre/semestre</th>
                            <th style="width:30px; text-align: center;" colspan="1" rowspan="2">Nivel de logro alcanzado al finalizar el periodo lectivo</th>
                        </tr>
                        <tr>
                            <th style="width:130px">Curso</th>
                            <th style="width: 10px">T1</th>
                            <th style="width: 10px">T2</th>
                            <th style="width: 10px">T3</th>
                            <th style="width: 10px">P1</th>
                            <th style="width: 10px">P2</th>
                            <th style="width: 10px">P3</th>
                            <th style="width: 10px">E1</th>
                            <th style="width: 10px">E2</th>
                            <th style="width: 10px">E3</th>
                            <th style="width: 10px">PF1</th>
                            <th style="width: 10px">PF2</th>
                            <th style="width: 10px">PF3</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var curso in Model)
                        {
                            <tr>
                                <td>
                                    <span style=" text-align: justify;
                                     text-justify: inter-word; font-size: 11px;">@curso.nombre</span>
                                </td>
                                @foreach (var tipoNota in curso.tipoNota)
                                {
                                    foreach (var nota in tipoNota.nota)
                                    {

                                        var estiloNota = !nota.registro ? "badge badge-light" : (nota.nota < 11 ? "badge badge-danger" : "badge badge-success");
                                        <td><span class="@estiloNota">@nota.nota</span></td>
                                    }
                                    var estiloTipoNota = Decimal.Parse(tipoNota.promedio) < 11 ? "badge badge-danger" : "badge badge-success";
                                    <td><span class="@estiloTipoNota">@tipoNota.promedio </span></td>

                                }
                                @{
                                    var estiloPromedio = Decimal.Parse(curso.promedio, culture) < 11 ? "badge badge-danger" : "badge badge-success";
                                    <td style="width:30px; text-align: center;" colspan="1" ><span class="@estiloPromedio"> @curso.promedio </span></td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>


        </div>
    </div>
</div>