@model WebAppColegio.Models.Response.CursoDetalleResponse
@using WebAppColegio.Models.Response
@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "CursoDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var nombreMaterial = ""; var nombreTarea = "";
    var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
}
<link rel="stylesheet" media="all" href="~/estilos/master.css">
<link rel="stylesheet" media="all" href="~/estilos/curso.css">
<link href="~/masterpage/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div id="not_right_side" class="ic-app-main-content">
    <div id="content-wrapper" class="ic-Layout-contentWrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-12">

            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="~/Curso/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Curso</li>
                <li class="breadcrumb-item active" aria-current="page">Detalle</li>
            </ol>
        </div>
        <div id="content" class="ic-Layout-contentMain" role="main">
            <div class="header-bar">
                <div class="header-bar-left header-bar__module-layout">
                    <div class="header-bar-right__buttons">
                        <button class="btn" id="expand_collapse_all" aria-expanded="true" data-expand="false">Desplegar todo</button>
                    </div>
                </div>
            </div>
            <div class="item-group-container" id="context_modules_sortable_container">
                <div id="context_modules" aria-label="Módulos del curso" class="ig-list ">
                    <div class="item-group-condensed context_module student-view completed" aria-label="Cabecera principal" data-workflow-state="active" id="context_module_161594">
                        <a id="module_161594"></a>
                        <div class="ig-header header" id="161594">
                            <span class="sortable-handle reorder_module_link" title="Arrastrar para reordenar los módulos" style="display: none;">
                                <i aria-hidden="true" class="icon-drag-handle"></i>
                            </span>
                            <h2 class="screenreader-only">Curso de Análisis de Sistemas Hidráulicos</h2>
                            <span role="button" tabindex="0" href="" class="ig-header-title collapse_module_link ellipsis" aria-controls="context_module_content_161594" aria-expanded="true" aria-label="Curso de Análisis de Sistemas Hidráulicos activar o desactivar visibilidad del módulo" title="Curso de Análisis de Sistemas Hidráulicos">
                                <i class="fas fa-sort-down"></i>
                                <span class="name" style="color: #F63606;">@Model.cursoNombre</span>
                            </span>
                            <span role="button" tabindex="0" href="" class="ig-header-title expand_module_link ellipsis" aria-controls="context_module_content_161594" aria-expanded="false" aria-label="Curso de Análisis de Sistemas Hidráulicos activar o desactivar visibilidad del módulo" title="Curso de Análisis de Sistemas Hidráulicos">
                                <i class="fas fa-sort-down"></i>
                                <span class="name ellipsis" style="color: #F63606;">@Model.cursoNombre</span>
                            </span>
                        </div>
                        <div class="content" id="context_module_content_161594">
                            <ul class="ig-list items context_module_items ">
                                <li id="context_module_item_419762" style="" class="context_module_item     student-view     discussion_topic          indent_0          _requirement     DiscussionTopic_129274     dupeable context_module_item_hover">
                                    <div class="ig-row  ig-published student-view">
                                        <a aria-label="FORO-CONSULTAS" tabindex="-1" class="for-nvda">
                                            FORO-CONSULTAS
                                        </a>
                                        <span class="type_icon" title="Foro abierto" role="none">
                                            <span class="far fa-comments">
                                            </span>
                                        </span>
                                        <div class="ig-info">
                                            <div class="module-item-title">
                                                <span class="item_name">
                                                    <a title="FORO-CONSULTAS" class="ig-title title item_link" href="/Foro/Index">
                                                        FORO-CONSULTAS
                                                    </a>
                                                    <span title="FORO-CONSULTAS" class="title locked_title">FORO-CONSULTAS</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="context_module_item_419775" style="" class="context_module_item     student-view     external_url          indent_0          _requirement     ExternalUrl_0">
                                    <div class="ig-row  ig-published student-view">

                                        <span class="type_icon" title="External Url" role="none">
                                            <img class="img-profile rounded-circle" style="max-width: 60px" src="~/estilos/img/iconoVinculoClase.png">
                                        </span>
                                        <div class="ig-info">
                                            <div class="module-item-title">
                                                @{
                                                    var enlace = Model.enlace;
                                                }

                                                <span class="item_name">
                                                    @{ if (String.IsNullOrEmpty(enlace))
                                                        {
                                                            <span title="Material de clase" class="ig-title title " href="">
                                                                Sin Enlace.
                                                            </span>
                                                        }
                                                        else
                                                        {

                                                            <a title="Material de clase" class="ig-title title " href=@enlace>
                                                                Entrar a clase
                                                            </a>
                                                        }
                                                    }
                                                </span>
                                                @{
                                                    if (usuario.perfil == "Docente")
                                                    {
                                                        <span class="item_name">
                                                            <a title="Editar zoom" style="color:#3abaf4;" data-enlace="@enlace" class="fas fa-edit" id="modalEditZoom" data-toggle="modal" data-target="#exampleModalCenter"></a>
                                                        </span>
                                                    }
                                                }



                                            </div>
                                        </div>
                                        <div class="module-item-status-icon"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="footer">
                                <div class="progression_container">
                                    <a href="#" class="progression_details_link" title="Ver el progreso del estudiante para este módulo" style="display: none;">
                                        <span class="progression_started"><span class="progression_started_count">0</span> En progreso</span> <span class="progression_complete"><span class="progression_complete_count">0</span> Completo</span>
                                    </a>
                                    <div class="unlock_details" style="display: none;">
                                        <div class="unlock_at" style="display: none;"></div>
                                        Desbloqueará <span class="displayed_unlock_at">&nbsp;</span>
                                    </div>
                                </div>
                                <!-- progression_container -->
                            </div>
                            <!-- footer -->
                        </div>
                    </div>
                    @foreach (var item in Model.periodos)
                    {
                        var indexSemana = 1;
                        for (int i = 1; i <= item.semanas; i++)
                        {

                            <div class="item-group-condensed context_module student-view completed" aria-label="Semana 01" data-workflow-state="active" id="context_module_161599">
                                <div class="ig-header header" id="161599">
                                    <span role="button" tabindex="0" class="ig-header-title collapse_module_link ellipsis" aria-controls="context_module_content_161599" aria-expanded="true" aria-label="Semana 01: Load Sensing Presure Compesating LSPC activar o desactivar visibilidad del módulo" title="Semana 01: Load Sensing Presure Compesating LSPC">
                                        <i class="fas fa-sort-down"></i>
                                        <span class="name">@item.mes  Semana @i  </span>
                                    </span>
                                    <span role="button" tabindex="0" class="ig-header-title expand_module_link ellipsis" aria-controls="context_module_content_161599" aria-expanded="false" aria-label="Semana 01: Load Sensing Presure Compesating LSPC activar o desactivar visibilidad del módulo" title="Semana 01: Load Sensing Presure Compesating LSPC">
                                        <i class="fas fa-sort-down"></i>
                                        <span class="name ellipsis">@item.mes Semana @i</span>
                                    </span>
                                </div>
                                <div class="content" id="context_module_content_161599">
                                    <ul class="ig-list items context_module_items ">

                                        <li id="context_module_item_419775" style="" class="context_module_item     student-view     external_url          indent_0          _requirement     ExternalUrl_0">
                                            <div class="ig-row  ig-published student-view">

                                                <span class="type_icon" title="External Url" role="none">
                                                    <img class="img-profile rounded-circle" style="max-width: 60px" src="/estilos/img/iconoVInculoMaterial.png">
                                                </span>
                                                <div class="ig-info">
                                                    <div class="module-item-title">
                                                        @{
                                                            var material = Model.material
                                                                                                        .Where(kv => kv.nroSemana == @i && kv.mes == item.mes)
                                                                                                        .DefaultIfEmpty(new MaterialResponse() { nombre = "Sin Entrega" }) // or no argument -> null
                                                                                                        .First();
                                                            var sinInfo = false;
                                                            nombreMaterial = Model.material
                                                                                .Where(kv => kv.nroSemana == i && kv.mes == item.mes)
                                                                                .Select(kv => kv.nombre)   // not a problem even if no item matches
                                                                                .DefaultIfEmpty("Sin documento") // or no argument -> null
                                                                                .First();

                                                            var fechaInicioTarea = Model.material
                                                                                .Where(kv => kv.nroSemana == i && kv.mes == item.mes)
                                                                                .Select(kv => kv.fechaInicioTarea)   // not a problem even if no item matches
                                                                                .DefaultIfEmpty("") // or no argument -> null
                                                                                .First();
                                                            var fechaFinTarea = Model.material
                                                                                .Where(kv => kv.nroSemana == i && kv.mes == item.mes)
                                                                                .Select(kv => kv.fechaFinTarea)   // not a problem even if no item matches
                                                                                .DefaultIfEmpty("") // or no argument -> null
                                                                                .First();

                                                            var recursoDescarga = nombreMaterial.Equals("Sin documento") ? "#" : "/Curso/Download?container=docentecontainer&blobName=" + nombreMaterial;

                                                        }

                                                        <span class="item_name">
                                                            @{ if (String.IsNullOrEmpty(nombreMaterial) || nombreMaterial.Equals("Sin documento"))
                                                                {
                                                                    <span title="Material de clase" class="ig-title title item_link" href="">
                                                                        MATERIAL: Sin documento.
                                                                    </span>
                                                                    sinInfo = true;

                                                                    if (usuario.perfil == "Docente")
                                                                    {
                                                                        <form enctype="multipart/form-data" asp-controller="Curso" asp-action="Create">
                                                                            <input type="file" id="myFile" name="files" style="line-height: 1.375rem; " placeholder=@recursoDescarga>
                                                                            <input type="hidden" id="semana" name="semana" value=@i>
                                                                            <input type="hidden" id="mes" name="mes" value=@item.mes>
                                                                            <input type="submit" class="btn-small btn-info mb-1" value="Guardar este archivo">
                                                                        </form>

                                                                    }
                                                                }
                                                                else
                                                                {


                                                                    if (usuario.perfil == "Docente")
                                                                    {
                                                                        var recursoEliminarMaterial = "/Curso/EliminarArchivo?blobName=" + recursoDescarga + "&codigo=" + @material.codigo + "&tipo=MATERIAL&container=docentecontainer";
                                                                        <a title="Material de clase" class="ig-title title item_link" href=@recursoDescarga>
                                                                            MATERIAL: @nombreMaterial
                                                                        </a>
                                                                        <a class="fas fa-trash-alt" style="color:#3abaf4;" href="@recursoEliminarMaterial"></a>
                                                                        <form enctype="multipart/form-data" asp-controller="Curso" asp-action="Create">
                                                                            <input type="file" id="myFile" name="files" style="line-height: 1.375rem; " placeholder=@nombreTarea>
                                                                            <input type="hidden" id="semana" name="semana" value=@i>
                                                                            <input type="hidden" id="mes" name="mes" value=@item.mes>
                                                                            <input type="submit" class="btn-small btn-info mb-1" value="Guardar este archivo">
                                                                        </form>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a title="Material de clase" class="ig-title title item_link" href=@recursoDescarga>
                                                                            MATERIAL: @nombreMaterial
                                                                        </a>
                                                                    }


                                                                }
                                                                if (usuario.perfil == "Docente")
                                                                {
                                                                    <span class="item_name">
                                                                        <a title="Editar fecha tarea" style="color:#3abaf4;" data-semana="@i" data-mes="@item.mes" data-fechainitarea="@fechaInicioTarea" data-fechafintarea="@fechaFinTarea" class="fas fa-edit" id="modalEditClass" data-toggle="modal" data-target="#modalInterval"></a>
                                                                       Editar fecha tarea
                                                                    </span>
                                                                }
                                                            }

                                                        </span>



                                                    </div>
                                                </div>
                                                <div class="module-item-status-icon"></div>
                                            </div>
                                        </li>

                                        <li id="context_module_item_419780" style="" class="context_module_item     student-view            assignment     also_assignment     indent_0          _requirement     Assignment_240450     dupeable">
                                            <div class="ig-row  ig-published student-view">

                                                <span class="type_icon" title="Assignment" role="none">
                                                    <span class="type_icon" title="External Url" role="none">
                                                        <img class="img-profile rounded-circle" style="max-width: 60px" src="/estilos/img/iconoArchivoClase.png">
                                                    </span>
                                                </span>
                                                <div class="ig-info">
                                                    <div class="module-item-title">

                                                        @{
                                                            var tarea = Model.material
                                                                                                        .Where(kv => kv.nroSemana == @i && kv.mes == item.mes)
                                                                                                        .Select(kv => kv.tarea)   // not a problem even if no item matches
                                                                                                        .DefaultIfEmpty(new Tarea() { nombre = "Sin Entrega" }) // or no argument -> null
                                                                                                        .First();
                                                            var tareaHabilitada = Model.material
                                                                                                       .Where(kv => kv.nroSemana == @i && kv.mes == item.mes)
                                                                                                       .Select(kv => kv.tareaHabilitada)   // not a problem even if no item matches
                                                                                                       .DefaultIfEmpty(false) // or no argument -> null
                                                                                                       .First();
                                                            if (null != tarea.nombre)
                                                            {
                                                                nombreTarea = tarea.nombre;
                                                            }
                                                        }
                                                        <span class="item_name">
                                                            @{ if (!tareaHabilitada)
                                                                {
                                                                    <span title="Tarea Adjunta" class="ig-title title item_link" href="">
                                                                        Tarea no habilitada
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    var recurso = nombreTarea.Equals("Sin Entrega") || nombreTarea.Equals("") ? "#" : "/Curso/Download?container=alumnocontainer&blobName=" + nombreTarea;

                                                                    @if (String.IsNullOrEmpty(nombreTarea))
                                                                    {
                                                                        <span title="" class="ig-title title item_link">
                                                                            TAREA: Sin entrega
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {

                                                                        var recursoEliminar = "/Curso/EliminarArchivo?blobName=" + nombreTarea + "&codigo=" + @tarea.codigo + "&tipo=TAREA&container=alumnocontainer";
                                                                        <a title="Tarea entregada" class="ig-title title item_link" href=@recurso>
                                                                            TAREA: @nombreTarea &nbsp;
                                                                        </a>
                                                                        if (usuario.perfil == "Alumno")
                                                                        {
                                                                            <a class="fas fa-trash-alt" style="color:#3abaf4;" href=@recursoEliminar></a>
                                                                        }
                                                                    }
                                                                    if (usuario.perfil == "Alumno")
                                                                    {
                                                                        <form enctype="multipart/form-data" asp-controller="Curso" asp-action="Create">
                                                                            <input type="file" id="myFile" name="files" style="line-height: 1.375rem; " placeholder=@nombreTarea>
                                                                            <input type="hidden" id="semana" name="semana" value=@i>
                                                                            <input type="hidden" id="mes" name="mes" value=@item.mes>
                                                                            <input type="submit" class="btn-small btn-info mb-1" value="Guardar este archivo">
                                                                        </form>
                                                                    }
                                                                }
                                                                if (null != material.tiempoRestante)
                                                                {
                                                                    String tiempoRestanteday = material.tiempoRestante;
                                                                    if (material.tiempoRestante.IndexOf("1900") > 0)
                                                                    {
                                                                        var capturaDias = material.tiempoRestante.Substring(0, 2).Equals("01") ? "0" : material.tiempoRestante.Substring(0, 1);
                                                                        tiempoRestanteday = capturaDias + " dias" + material.tiempoRestante.Substring(10, material.tiempoRestante.Length - 10);
                                                                    } 
                                                                    <span title="" class="warning_message" style="color: #ffa426;">
                                                                        Tiempo restante: @tiempoRestanteday
                                                                    </span>
                                                                }



                                                            }
                                                            <a title="Tareas" style="color:#3abaf4;" data-semana="@i" data-mestarea="@item.mes" class="fas fa-download" id="modalListTareas" data-toggle="modal" data-target="#exampleModalTareas"></a>
                                                        </span>


                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="exampleModalTareas" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0da8ee; border-color: #0da8ee; ">
                <h5 class="modal-title  col-11 text-center" id="modalCenterTitleCustom" style="color:#0a0a0a;">Lista de tareas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" class="form-horizontal" asp-controller="Curso" asp-action="ActualizarZoom">
                <div class="modal-body">
                    <div class="modal-body" id="bodyTareasDocente">

                        

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button> 
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalInterval" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0da8ee; border-color: #0da8ee; ">
                <h5 class="modal-title  col-11 text-center" id="modalCenterTitleCustom" style="color:#0a0a0a;">Editar sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" class="form-horizontal" asp-controller="Curso" asp-action="ActualizarZoom">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="form-group row" id="simple-date4">
                                <label for="inputEmail3" class="col-sm-3 col-form-label" style="color:#0a0a0a;">Fecha fin de tarea</label>
                                <div class="col-sm-9">
                                    <div class="input-daterange input-group">
                                        <input type="text" class="input-sm form-control" name="fechafintarea" id="fechafintarea" style="height: 40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>

                <input type="text" class="input-sm form-control" name="mesActualizar" id="mesActualizar" hidden="hidden">
                <input type="text" class="input-sm form-control" name="semanaActualizar" id="semanaActualizar" hidden="hidden">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0da8ee; border-color: #0da8ee; ">
                <h5 class="modal-title  col-11 text-center" id="modalCenterTitleCustom" style="color:#0a0a0a;">Nuevo enlace</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" class="form-horizontal" asp-controller="Curso" asp-action="ActualizarZoom">
                <div class="modal-body">
                    <div class="modal-body">

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label" style="color:#0a0a0a;">Enlace</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="enlace" name="enlace" style="color:#0a0a0a;" placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<link rel="preload" href="/estilos/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.js" as="script" type="text/javascript">
<link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/es-c-2e9fc8e1c3.js" as="script" type="text/javascript">
<link rel="preload" href="/estilos/main-clone.js.js" as="script" type="text/javascript">
<script>
    Object.assign(
        ENV,
        {}
    )
</script>
<script>
    INST = { "environment": "production", "allowMediaComments": true, "kalturaSettings": { "domain": "nv.instructuremedia.com", "resource_domain": "nv.instructuremedia.com", "rtmp_domain": "iad.rtmp.instructuremedia.com", "partner_id": "9", "subpartner_id": "0", "player_ui_conf": "0", "kcw_ui_conf": "0", "upload_ui_conf": "0", "max_file_size_bytes": 534773760, "do_analytics": false, "hide_rte_button": false, "js_uploader": true }, "logPageViews": true, "maxVisibleEditorButtons": 3, "editorButtons": [{ "name": "Favoritos de Commons", "id": 1, "favorite": false, "url": "https://lor.instructure.com/api/lti/favorite-resources", "icon_url": "https://lor.instructure.com/img/icon_commons.png", "canvas_icon_class": null, "width": 800, "height": 400, "use_tray": true, "description": "\u003cp\u003eFind and share course content\u003c/p\u003e\n" }, { "name": "Vimeo", "id": 56, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=vimeo", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/vimeo_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eVimeo is a video sharing website on which users can upload, share, and view videos. The community of Vimeo includes indie, professional, and novice filmmakers.\u003c/p\u003e\n" }, { "name": "Graph Builder", "id": 57, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=graph_builder", "icon_url": "https://www.edu-apps.org/tools/graph_builder/icon.png", "canvas_icon_class": null, "width": 475, "height": 770, "use_tray": false, "description": "\u003cp\u003eBuild and embed rich interactive graphs into course content\u003c/p\u003e\n" }, { "name": "Hooda Math", "id": 58, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=hooda_math", "icon_url": "https://www.edu-apps.org/tools/hooda_math/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eOnline math learning games\u003c/p\u003e\n" }, { "name": "Elementary Paper", "id": 59, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=elementary_paper", "icon_url": "https://www.edu-apps.org/tools/elementary_paper/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eBrowse printable writing practice sheets\u003c/p\u003e\n" }, { "name": "Khan Academy", "id": 60, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=khan_academy", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/khan_academy_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch for and embed Khan Academy lessons and exercise into course material. Khan Academy focuses on short lessons on math, science, etc. Uses the embedded player so students earn points for watching videos.\u003c/p\u003e\n" }, { "name": "Funbrain", "id": 61, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=funbrain", "icon_url": "https://www.edu-apps.org/tools/funbrain/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eK-8 online learning activities\u003c/p\u003e\n" }, { "name": "Dropbox", "id": 62, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=dropbox", "icon_url": "http://www.edu-apps.org/tools/dropbox/icon.png", "canvas_icon_class": null, "width": 400, "height": 200, "use_tray": false, "description": "\u003cp\u003eThis lightweight integration lets Dropbox users select and link to files within course content or in conjunction with homework submissions.\u003c/p\u003e\n\n\u003cp\u003eDropbox is a file hosting service offering cloud storage, file synchronization, and client software. Files placed in a Dropbox folder also are accessible through a website and mobile phone applications.\u003c/p\u003e\n\n\u003cp\u003e\u003ca href=\"https://googledrive.com/host/0B5ghu5Vrh0j7X3FCOERVQ1dLSms/dropbox.png\" target=\"_blank\"\u003e \u003cimg src=\"https://googledrive.com/host/0B5ghu5Vrh0j7X3FCOERVQ1dLSms/dropbox.png\" alt=\"Dropbox insert video demonstration image.\"\u003e \u003c/a\u003e\u003c/p\u003e\n\n\u003cp\u003eThe current integration does require that users login to Dropbox each time.\u003c/p\u003e\n" }, { "name": "educreations", "id": 63, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=educreations", "icon_url": "https://www.edu-apps.org/tools/educreations/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eTeacher-recorded whiteboard sessions\u003c/p\u003e\n" }, { "name": "YouTube", "id": 64, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=youtube", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/youtube_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch publicly available YouTube videos. A new icon will show up in your course rich editor letting you search YouTube and click to embed videos in your course material.\u003c/p\u003e\n" }, { "name": "TEDEd", "id": 65, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=youtube_ted_ed", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/ted_ed_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch YouTube videos in the TEDEd Channel. A new icon will show up in your course rich editor letting you search the TEDEd channel and click to embed videos in your course material.\u003c/p\u003e\n" }, { "name": "Insert Math Equation - WIRIS editor", "id": 66, "favorite": false, "url": "https://www.wiris.net/instructure.com/canvas/editor/dialog", "icon_url": "https://www.wiris.net/instructure.com/canvas/editor/icon.gif", "canvas_icon_class": null, "width": 570, "height": 450, "use_tray": false, "description": "\u003cp\u003eInsert and edit mathematical formulas by WIRIS editor\u003c/p\u003e\n" }, { "name": "Insert Chemistry - WIRIS editor", "id": 67, "favorite": false, "url": "https://www.wiris.net/instructure.com/canvas/editor-chemistry/dialog", "icon_url": "https://www.wiris.net/instructure.com/canvas/editor-chemistry/icon.gif", "canvas_icon_class": null, "width": 570, "height": 450, "use_tray": false, "description": "\u003cp\u003eInsert and edit chemistry formulas by WIRIS editor\u003c/p\u003e\n" }, { "name": "Explain Everything", "id": 94, "favorite": false, "url": "https://api.explaineverything.com/napi/v1/static/lti-provider", "icon_url": "https://explaineverything.com/wp-content/uploads/EE-logo-32.png", "canvas_icon_class": null, "width": 800, "height": 400, "use_tray": false, "description": "" }, { "name": "Google Apps", "id": 136, "favorite": false, "url": "https://google-drive-lti-iad-prod.instructure.com/lti/rce-content-selection", "icon_url": "https://google-drive-lti-iad-prod.instructure.com/icon.png", "canvas_icon_class": null, "width": 700, "height": 600, "use_tray": false, "description": "\u003cp\u003eAllows you to pull in documents from Google Drive to Canvas\u003c/p\u003e\n" }, { "name": "Interactive Content – H5P", "id": 551, "favorite": false, "url": "https://tecsupvirtual.h5p.com", "icon_url": "https://tecsupvirtual.h5p.com/img/h5p-icon.png", "canvas_icon_class": null, "width": 800, "height": 600, "use_tray": false, "description": "\u003cp\u003eCreate, share and reuse interactive HTML5 content in your browser\u003c/p\u003e\n" }] };
    ENV = { "ASSET_HOST": "https://du11hjcvx0uqb.cloudfront.net/br", "active_brand_config_json_url": "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.json", "url_to_what_gets_loaded_inside_the_tinymce_editor_css": ["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/responsive_layout_high_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-2301348edc.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/no_variables/bundles/lato_extended-38dc7d1774.css"], "url_for_high_contrast_tinymce_editor_css": ["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/responsive_layout_high_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-2301348edc.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/no_variables/bundles/lato_extended-38dc7d1774.css"], "current_user_id": "47514", "current_user_roles": ["user", "student"], "current_user_types": [], "current_user_disabled_inbox": false, "files_domain": "cluster51.canvas-user-content.com", "DOMAIN_ROOT_ACCOUNT_ID": "81840000000000001", "k12": false, "use_responsive_layout": true, "use_rce_enhancements": false, "rce_auto_save": false, "help_link_name": "Ayuda", "help_link_icon": "help", "use_high_contrast": true, "disable_celebrations": false, "disable_keyboard_shortcuts": false, "LTI_LAUNCH_FRAME_ALLOWANCES": ["geolocation *", "microphone *", "camera *", "midi *", "encrypted-media *", "autoplay *"], "DEEP_LINKING_POST_MESSAGE_ORIGIN": "https://tecsup.instructure.com", "DEEP_LINKING_LOGGING": null, "SETTINGS": { "open_registration": false, "collapse_global_nav": false, "show_feedback_link": true }, "DIRECT_SHARE_ENABLED": false, "FEATURES": { "cc_in_rce_video_tray": true, "featured_help_links": true, "rce_lti_favorites": true, "assignment_bulk_edit": true, "responsive_awareness": true, "recent_history": true, "responsive_misc": true, "product_tours": false, "module_dnd": true, "files_dnd": true, "unpublished_courses": true, "bulk_delete_pages": true, "usage_rights_discussion_topics": true, "inline_math_everywhere": false, "canvas_k6_theme": false, "new_math_equation_handling": false }, "current_user": { "id": "47514", "display_name": "Quisquiche Siccha, Luis Fernando", "avatar_image_url": "https://tecsup.instructure.com/images/thumbnails/449207/zMkQKWdOu1W1QMixJEmkZ0dqA8OKda2t6eklozvT", "html_url": "https://tecsup.instructure.com/about/47514", "pronouns": null, "avatar_is_fallback": false }, "page_view_update_url": "/page_views/4a54ae53-5316-4dee-9fcc-f915effa2916?page_view_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpIjoiNGE1NGFlNTMtNTMxNi00ZGVlLTlmY2MtZjkxNWVmZmEyOTE2IiwidSI6ODE4NDAwMDAwMDAwNDc1MTQsImMiOiIyMDIwLTEyLTIzVDE3OjQzOjEwLjg3WiJ9.7qAkT7dW3BeqvEglHB3e7zuW40cvZaY5FQLNezro_y0", "context_asset_string": "course_10359", "ping_url": "https://tecsup.instructure.com/api/v1/courses/10359/ping", "TIMEZONE": "America/Lima", "CONTEXT_TIMEZONE": "America/Lima", "LOCALE": "es", "BIGEASY_LOCALE": "es_ES", "FULLCALENDAR_LOCALE": "es", "MOMENT_LOCALE": "es", "course_id": "10359", "CONTEXT_URL_ROOT": "/courses/10359", "DUPLICATE_ENABLED": true, "FILES_CONTEXTS": [{ "asset_string": "course_10359" }], "MODULE_FILE_DETAILS": null, "MODULE_FILE_PERMISSIONS": { "usage_rights_required": false, "manage_files": false }, "MODULE_TRAY_TOOLS": { "module_index_menu": [], "module_group_menu": [] }, "DEFAULT_POST_TO_SIS": false, "NEW_USER_TUTORIALS": { "is_enabled": false }, "CONTEXT_MODULE_ASSIGNMENT_INFO_URL": "/courses/10359/modules/items/assignment_info", "PROCESS_MULTIPLE_CONTENT_ITEMS": true, "COLLAPSED_MODULES": [], "CAN_MANAGE_MODULES": false, "IS_STUDENT": true, "COURSE_ID": "10359", "NO_MODULE_PROGRESSIONS": false, "badge_counts": { "submissions": 2 }, "notices": [], "active_context_tab": "modules" };
</script>
<script>
    //<![CDATA[

    ;["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/America/Lima-c4f1b9fa38.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/America/Lima-c4f1b9fa38.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/es_ES-b838eb0547.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/es-c-2e9fc8e1c3.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/main-e-6ab1539807.js"].forEach(function (src) {
        var s = document.createElement('script')
        s.src = src
        s.async = false
        document.head.appendChild(s)
    });
    //]]>
</script>
<!-- ClockPicker -->
<script src="~/masterpage/vendor/clock-picker/clockpicker.js"></script>

<script src="~/masterpage/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/masterpage/vendor/bootstrap-datepicker/js/bootstrap-datepicker.es.min.js"></script>
<script>
    //<![CDATA[
    (window.bundles || (window.bundles = [])).push('context_modules');
    (window.bundles || (window.bundles = [])).push('module_dnd');
    (window.bundles || (window.bundles = [])).push('navigation_header');
   //]]>
    $(document).ready(function () {
        var alerta = "@Model.alerta";
        if (alerta == true) {
            toastr.success('Registro exitoso');
        }
    });
    $('#simple-date4 .input-daterange').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        todayHighlight: true,
        todayBtn: 'linked',
        language: 'es'
    });

    $(document).on("click", "#modalEditZoom", function () {
        var enlace = $(this).data('enlace');
        $("#enlace").val(enlace);
        $("#modalCenterTitleCustom").val('Editar enlace de zoom');

    });

    $(document).on("click", "#modalListTareas", function () {
        var mes = $(this).data('mestarea');
        var semana = $(this).data('semana');
        datosNotas(mes, semana);
    });


     var datosNotas = function (mes, semana) {
       
         $.ajax({
             url: '@Url.Action("listarTareasDocente", "Curso")?_mes=' + mes + "&_semana=" + semana,
                type: 'POST',
                contentType: "application/json",
                data: { _perido: 0 },
                success: function (partialView) {
                    $('#bodyTareasDocente').html(partialView); 
             },
             error: function (error) {
                alert('error; ' + eval(error));
}
            });
    }

    $(document).on("click", "#modalEditClass", function () {
        var mes = $(this).data('mes');
        var semana = $(this).data('semana');
        $("#mesActualizar").val(mes);
        $("#semanaActualizar").val(semana);
        //$("#fechaInicio").val($(this).data('fechainitarea'));
        $("#fechafintarea").val($(this).data('fechafintarea'));

    });
</script>

