@using  WebAppColegio.Models.Response
@model IEnumerable<WebAppColegio.Models.Response.CursoResponse>

@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-12">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Curso/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cursos</li>
        </ol>
    </div>

    <div class="row">
        <!-- General Colors-->
        <div class="col-lg-12">
            <div class="card mb-12">
                @*<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">General Colors</h6>
                    </div>*@
                <div class="card-body">
                    @{
                        if (usuario.perfil.Equals("Director") || usuario.perfil.Equals("Docente"))
                        {
                            <div class="row">
                                <div class="btn-group mb-2 col-lg-6 mb-4">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hidden="">
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(12px, 31px, 0px);">

                                    </div>
                                </div><div class="col-lg-3  mb-4">
                                    <select class="form-control" name="gradoID" id="gradoID">
                                        <label class="col-lg-4 control-label">Grados</label>
                                        @{
                                            foreach (var it in (SelectList)ViewBag.ListaGrados)
                                            {
                                                <option value="@it.Value">@it.Text </option>
                                            }
                                        }
                                    </select>
                                </div><div class="col-lg-3  mb-4">
                                    <select class="form-control" name="seccionID" id="seccionID">
                                        <label class="col-lg-4 control-label">Sección</label>
                                        @{
                                            foreach (var it in (SelectList)ViewBag.ListaSeccion)
                                            {
                                                <option value="@it.Value">@it.Text </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    }
                    <input hidden="hidden" type="text" id="perfilinput" value="@usuario.perfil" />

                    <div class="row" id="dataCursos"> 
                        @* PARA IMAGEN DE FONDO *@
                        @*style="background-image: url('/masterpage/img/logo/fondoCurso.jpg'); background-repeat: no-repeat; background-position: center; ">*@



                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <!--Row-->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if (document.getElementById("perfilinput").value == 'Alumno') {
            cursoDetalle();
        } else {
            cursoDetalle("0","0");
        } 
    });
    $("#gradoID").change(function () {
        cursoDetalle();
    })
    $("#seccionID").change(function () {
        cursoDetalle();
    })

    var cursoDetalle = function (inicio, fin) {
        var periodo = $('#seccionID').val();
        var grado = document.getElementById("gradoID") == null ? "Todos" : document.getElementById("gradoID").value;
        if (inicio == "0") {
            grado = inicio
        }
        var seccion = document.getElementById("seccionID") == null  ? "Todos" : document.getElementById("seccionID").value;
         $.ajax({
             url: '@Url.Action("CursosDetalle", "Curso")?' + '_grado=' + grado + '&_seccion=' + seccion,
                type: 'POST',
                contentType: "application/json",
                data: { _perido: periodo },
                success: function (partialView) {
                    $('#dataCursos').html(partialView);
                    $('#dataCursos').show();
             },
             error: function (error) {
                alert('error; ' + eval(error));
}
            });
    }
</script>
